<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ebooking Login</title>
		<meta name="author" content="Michael Wang">
		<meta name="description" content="Login page for Ebooking system.">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/static/css/login.css">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="area">
						<h4 class="text-center area-margin">EBooking System</h4>
						<div id="web-login-button" class="center-block area-margin">
							<a class="mx-auto" href="/login/line"></a>
						</div><!-- #web-login-button -->
					</div><!-- .area -->
				</div><!-- .col -->
			</div><!-- .row -->
		</div><!-- .container -->
	</body>
</html>
